{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    {% comment %} <link rel="stylesheet" href="{% static 'styles.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <h1 id="title-navy"><a href="{% url 'home' %}" style="display: block;">WATS</h1></a>
            <a href="{% url 'home' %}"><img src="{% static 'watslogo.png' %}" alt="WATS"></a>
            <div class="about_us">
                <a href="{% url 'about_us'%}">About us</a>
            </div>
        </div>
    </header>
    <div class="wrapper">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>